%body
  %header#head
    .container
      .row
        %h1.lead
          - if user_signed_in?
            =link_to "#{t(".welcome")}" , courses_path
            =link_to "#{current_user.profile.name}!", courses_path
          - else
            "Прокачай свой скилл!"
        %p.tagline
          %p#notice= notice
          %p.alert= alert
          %a{:href => "http://www.gettemplate.com/?utm_source=progressus&utm_medium=template&utm_campaign=progressus"} GetTemplate
        %p
          %a.btn.btn-default.btn-lg{:role => "button"} MORE INFO
          %a.btn.btn-action.btn-lg{:role => "button"} DOWNLOAD NOW
