<h3> Hello <%= @user.profile&.name || "user" %> </h3>

<p> If want to recover your password,
    please folow the:
    <%= link_to "link", edit_passwords_url(token: @user.reset_password_token, host: ENV["CURRENT_HOST"]) %>
</p>
