%nav.navbar.navbar-inverse.menu
  %ul.nav.nav-tabs
    %li.active{:role => "presentation"}
      %a{:href => "#"}
    %li.active{:role => "presentation"}
      %a{:href => "#"}
    %li{:role => "presentation"}
      %a{:href => "#"}
    %li{:role => "presentation"}
      %a{:href => "#"}
    %li{:role => "presentation"}
      %a{:href => "#"}


