%body
  .container
    %ol.breadcrumb
      %li
        %a{:href => "index.html"} Home
      %li.active About
    .row
      / Article main content
      %article.col-sm-8.maincontent
        %header.page-header
          %h1.page-title About us
        %h3 Lorem ipsum
        %p
          %img.img-rounded.pull-right{:alt => "", :src => "assets/images/mac.jpg", :width => "300"}/
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil nesciunt unde veniam magnam repudiandae sapiente.
        -# if user.present?
          =# render "edit", user: user
      / /Article
      / Sidebar
      %aside.col-sm-4.sidebar.sidebar-right
        .widget
          %h4 Vacancies
          %ul.list-unstyled.list-spaces
            - @users.each do |user|
              %li= link_to user.email, edit_admin_user_path(user)
              %p= user.profile.name

      / /Sidebar
  / /container
%ul
  - @users.each do |user|
    %li= link_to user.email, edit_admin_user_path(user)
    %p= user.profile.name
